<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Registration</title>
</head>
<body>
    <p th:if="${resultMessage != null}" th:text="${resultMessage}">...</p>
    <form th:action="@{/registration}" method="post">
        <div><label> First Name : <input type="text" name="firstName" required /> </label></div>
        <div><label> Last Name : <input type="text" name="lastName" required /> </label></div>
        <div><label> User Name : <input type="text" name="username" required /> </label></div>
        <div><label> Password: <input type="password" name="password" required /> </label></div>
        <div><input type="submit" value="Create user"/></div>
    </form>
</body>
</html>