<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<style>
    table {
        border-collapse: collapse
    }
    td {
        border: 1px solid #000
    }
</style>
<body>
<table>
    <tr>
        <td th:width="100px">Id</td>
        <td th:width="300px">First name</td>
        <td th:width="300px">Last name</td>
        <td th:width="100px">Request count</td>
        <td th:width="100px">Delete</td>
    </tr>
    <th:block th:each="user : ${userList}">
        <tr>
            <td th:text="${user.id}">...</td>
            <td th:text="${user.firstName}">...</td>
            <td th:text="${user.lastName}">...</td>
            <td><a th:href="'users/requests?user_id=' + ${user.id}" th:text="${user.userRequests.size()}">...</a></td>
            <td><a th:href="'delete_user?user_id=' + ${user.id}">Delete</a></td>
        </tr>
    </th:block>
</table>
</body>
</html>