<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/mystyles.css}" />
</head>
<body>
<nav>
    <ul>
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a href="/users">Users</a>
        </li>
        <li sec:authorize="isAuthenticated()" style="float: right">
            <form class="sign-out" th:action="@{/logout}" method="post">
                <input class="sign-out-button" type="submit" value="Sign Out"/>
            </form>
        </li>
    </ul>
</nav>
<table class="table">
    <tr>
        <td th:width="100px">Id</td>
        <td th:width="200px">Title</td>
        <td th:width="400px">Description</td>
        <td th:width="200px">Date</td>
        <td th:width="200px">User Id</td>
        <td th:width="200px">User first name</td>
        <td th:width="200px">User last name</td>
        <td sec:authorize="hasAuthority('ROLE_ADMIN')" th:width="100px">Edit</td>
        <td sec:authorize="hasAuthority('ROLE_ADMIN')" th:width="100px">Delete</td>
    </tr>
    <th:block th:each="userRequest : ${usersRequests}">
        <tr>
            <td th:text="${userRequest.id}">...</td>
            <td th:text="${userRequest.title}">...</td>
            <td th:text="${userRequest.description}">...</td>
            <td th:text="${userRequest.requestDate.toGMTString()}">...</td>
            <td th:text="${userRequest.user.id}">...</td>
            <td th:text="${userRequest.user.firstName}">...</td>
            <td th:text="${userRequest.user.lastName}">...</td>
            <td sec:authorize="hasAuthority('ROLE_ADMIN')"><a th:href="'edit_user_request/' + ${userRequest.id}">Edit</a></td>
            <td sec:authorize="hasAuthority('ROLE_ADMIN')">
                <form action="#" th:action="@{/delete_user_request}" method="post">
                    <input th:value="${userRequest.id}" hidden name="user_request_id">
                    <button style="background-color: red" type="submit">Delete</button>
                </form>
            </td>
        </tr>
    </th:block>
</table>
</body>
</html>